.banner {
    width: 100%;
    height: 400px;   
}

.post {
    h1 {
        font-size: 3rem;
        line-height: 3.625rem;
        letter-spacing: -0.5px;
        padding-bottom: 24px;
    }
    .info {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        time {
            margin-left: 0.5rem;
            margin-right: 1.5rem;
            color: var(--info);
        }
        span {
    
            line-height: 100%;
            margin-left: 0.5rem;
            margin-right: 1.5rem;
            color: var(--info);
        }
    }
    .lastEdition {
        color: var(--info);
        font-size: 1rem;
        font-style: italic;
    }
    .content {
        text-align: justify;
        h3 {
            font-size: 2.25rem;
            line-height: 3rem;
            margin: 64px 0;
            color: var(--heading);
        }
        p {
            font-size: 1.125rem;
            line-height: 1.5rem;
            color: var(--body);
            margin: 1.5rem 0;
        }
    }  
}





